h1{
    color: #f31769;
}
h2{
    color: rgb(246, 145, 118);
}
h3{
    color: rgb(126, 6, 51);
}
h4{
    color:rgb(133, 128, 123);
}
h5{
    color:hwb(219 68% 22%);
}
h6{
    color: hsl(0, 1%, 19%);
}