*{
    font-family: 'Courier New' ;
}
h3{
    color: purple;
}
h1{
    color: #b92b27;
}
#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}
.upvote{
    background-color: green;
    color: white;
}
/* descendant Selector */
.post a{
    color: purple;
    background-color: yellow;
}
nav a{
    color: hotpink;
}
p + h3{
    text-decoration: underline;
}
.upvote + button{
    background-color: rgb(149, 149, 226);
}
/* Child Combinator */
div > input{
    background-color:darkcyan ;
    color: white;
}
input[type="text"]{
    color: red;
}
input[type="password"]{
    color: green;
}
input[type]{
    background-color: ghostwhite;
}