<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <form action="/posts" method="post">
        <h2 class="title">Create New Post</h2>
        <input placeholder="enter username" name="username" type="text" class="post">
        <br><br>
        <textarea name="content" placeholder="Write your post" class="post"></textarea>
        <br><br>
        <button>Submit Post</button>
    </form>
</body>
</html>